* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #191825;
}

button {
    width: 20rem;
    height: 5rem;
  padding: 12px 36px;
  border: 2px solid #865dff;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
  background-color: transparent;
  color: #865dff;
  font-family: "Urabanist";

  
}

button:hover {
    border: 2px solid red;
    color: rgb(239, 234, 234);
    animation: shaking 0.2s linear;
  }

@keyframes shaking{
  0% {
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }
  100% {
    rotate: 20deg;
  }
}
